# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    exclude: .dat
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
  - id: check-ast
  - id: check-merge-conflict
  - id: check-vcs-permalinks
  - id: check-executables-have-shebangs
  - id: mixed-line-ending
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.7
  hooks:
  - id: ruff-check
    types_or: [python, pyi, jupyter]
    args: [--fix, --show-fixes]
  - id: ruff-format
    files: ^(python/experimental/|geometry/geometry_config\.py$)
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or: [c++, c, cuda]
    exclude: LinkDef.h|muon|hcal|ecal|shipdata|shipgen|pid|passive|nutaudet|TimeDet|UpstreamTagger|gconfig|field|splitcal|strawtubes
- repo: https://github.com/cpplint/cpplint
  rev: 2.0.2
  hooks:
  - id: cpplint
    exclude: LinkDef.h
- repo: https://github.com/cmake-lint/cmake-lint
  rev: 1.4.3
  hooks:
  - id: cmakelint
- repo: https://github.com/codespell-project/codespell
  rev: "v2.4.1"
  hooks:
    - id: codespell
      exclude: muon|ecal|hcal
- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
    - id: isort
      args: [--profile=black]
      name: isort (python)
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]
ci:
  autofix_prs: true
  skip: [ruff-check, cmakelint, isort, cmake-format]
  autoupdate_commit_msg: "chore(deps): update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
