# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: .dat
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
  - id: check-ast
  - id: check-merge-conflict
  - id: check-vcs-permalinks
  - id: check-executables-have-shebangs
  - id: mixed-line-ending
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
  - id: ruff-check
    types_or: [python, pyi, jupyter]
    args: [--fix, --show-fixes]
    files: ^(\.github/scripts/annotate_build\.py|macro/makeGenieEvents\.py|python/genie_interface\.py|python/SciFiMapping\.py|python/BaseDetector\.py|python/detectors/.*\.py|python/experimental/.*\.py)$
  - id: ruff-format
    files: ^(python/experimental/.*\.py|python/geometry_config\.py|macro/makeGenieEvents\.py|python/genie_interface\.py|python/SciFiMapping\.py|python/BaseDetector\.py|python/detectors/.*\.py)$
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.6
  hooks:
  - id: clang-format
    types_or: [c++, c, cuda]
    exclude: LinkDef.h|muon|shipdata|shipgen|passive|TimeDet|UpstreamTagger|gconfig|field|splitcal|strawtubes
- repo: https://github.com/cpplint/cpplint
  rev: 2.0.2
  hooks:
  - id: cpplint
    exclude: LinkDef.h
- repo: https://github.com/codespell-project/codespell
  rev: "v2.4.1"
  hooks:
    - id: codespell
      exclude: muon
      additional_dependencies: [tomli]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py39-plus]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
    - id: mypy
      name: mypy (type-check)
      types_or: [python, pyi]
      files: ^(python/experimental/|python/geometry_config\.py|macro/makeGenieEvents\.py|python/genie_interface\.py|python/SciFiMapping\.py|python/BaseDetector\.py|python/detectors/)$
      args:
        - --python-version=3.9
        - --ignore-missing-imports
        - --show-column-numbers
        - --pretty
        - --follow-imports=skip        # <- don't type-check imported project modules
        - --ignore-missing-imports
        - --disable-error-code=name-defined
      additional_dependencies:
        - types-PyYAML
        - types-tabulate
        # Helpful on older 3.9 envs:
        - typing-extensions>=4.8
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/fsfe/reuse-tool
  rev: v6.0.0
  hooks:
    - id: reuse

ci:
  autofix_prs: true
  skip: [ruff-check]
  autoupdate_commit_msg: "chore(deps): update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
