* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @jasminwss  # Jasmin Weiß (HU Berlin)
python/detectors/SBTDetector.py @jasminwss  # Jasmin Weiß (HU Berlin)

UpstreamTagger/* @kholoimov  # Valerii Kholoimov (EPFL)

SND/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)
SND/MTC/* @eduard322  # Eduard Ursov (HU Berlin)
python/detectors/MTCDetector.py @eduard322

passive/ShipMuonShield.* @Gfrisella  # Guglielmo Frisella (U Zürich)

splitcal/* @matclim  # Matei Climescu (Ghent University)

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)
