name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    container:
      image: registry.cern.ch/ship/gha-runner:latest
      volumes:
        - /cvmfs/ship.cern.ch:/cvmfs/ship.cern.ch

    env:
      version: 25.01

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: FairShip
          lfs: true

      - name: Cache build
        uses: actions/cache@v4
        with:
          key: ${{ env.version }}-${{ github.sha }}
          path: sw/

      - name: Build
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          aliBuild build FairShip --always-prefer-system --config-dir $SHIPDIST --defaults release --jobs 4 --debug

  run-sim-chain:
    runs-on: self-hosted
    needs: build

    container:
      image: registry.cern.ch/ship/gha-runner:latest
      volumes:
        - /cvmfs/ship.cern.ch:/cvmfs/ship.cern.ch

    env:
      version: 25.01

    strategy:
      matrix:
        vessel_option: [vacuums, helium]
        SND_option: [SND, noSND]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: FairShip
          lfs: true

      - name: Cache build
        id: cache-build
        uses: actions/cache@v4
        with:
          key: ${{ env.version }}-${{ github.sha }}
          path: sw/

      - name: Build
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          aliBuild build FairShip --always-prefer-system --config-dir $SHIPDIST --defaults release --jobs 4 --debug

      - name: Run Sim
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/run_simScript.py --test --${{ matrix.vessel_option }} --${{ matrix.SND_option }}

      - name: Run Reco
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/ShipReco.py -f ship.conical.Pythia8-TGeant4.root -g geofile_full.conical.Pythia8-TGeant4.root

      - name: Run Ana
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/ShipAna.py -f ship.conical.Pythia8-TGeant4_rec.root -g geofile_full.conical.Pythia8-TGeant4.root

      - name: Run examples
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/examples/analysis_example.py

      - name: Upload .root artifacts
        uses: actions/upload-artifact@v4
        with:
          name: root-files-${{ matrix.vessel_option }}-${{ matrix.SND_option }}
          path: |
            *.root

  geometry-checks:
    runs-on: self-hosted
    needs: build

    container:
      image: registry.cern.ch/ship/gha-runner:latest
      volumes:
        - /cvmfs/ship.cern.ch:/cvmfs/ship.cern.ch

    env:
      version: 25.01

    strategy:
      matrix:
        vessel_option: [vacuums, helium]
        SND_option: [SND, noSND]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: FairShip
          lfs: true

      - name: Cache build
        id: cache-build
        uses: actions/cache@v4
        with:
          key: ${{ env.version }}-${{ github.sha }}
          path: sw/

      - name: Build
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          aliBuild build FairShip --always-prefer-system --config-dir $SHIPDIST --defaults release --jobs 4 --debug

      - name: Overlap check
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/run_simScript.py --test -n 0 --debug 2 --${{ matrix.vessel_option }} --${{ matrix.SND_option }} | tee log
          ! grep ovlp log

      - name: Geo information
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/getGeoInformation.py --geometry geofile_full.conical.Pythia8-TGeant4.root --level 2

  run-EventCalc:
    runs-on: self-hosted
    needs: build

    container:
      image: registry.cern.ch/ship/gha-runner:latest
      volumes:
        - /cvmfs/ship.cern.ch:/cvmfs/ship.cern.ch

    env:
      version: 25.01

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: FairShip
          lfs: true

      - name: Cache build
        id: cache-build
        uses: actions/cache@v4
        with:
          key: ${{ env.version }}-${{ github.sha }}
          path: sw/

      - name: Build
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          aliBuild build FairShip --always-prefer-system --config-dir $SHIPDIST --defaults release --jobs 4 --debug

      - name: Run Sim
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          mkdir test_folder
          cp /cvmfs/ship.cern.ch/test_data/HNL-e_test_data.root test_folder/
          python $FAIRSHIP/macro/run_simScript.py --evtcalc -n 100 -o test_folder -f test_folder/HNL-e_test_data.root
