name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    container:
      image: registry.cern.ch/ship/gha-runner:latest
      volumes:
        - /cvmfs/ship.cern.ch:/cvmfs/ship.cern.ch

    env:
      version: 25.11

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: FairShip
          lfs: true

      - name: Build
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          aliBuild build FairShip --always-prefer-system --config-dir $SHIPDIST --defaults release --jobs 4 --debug 2>&1 | tee build.log | python3 FairShip/.github/scripts/annotate_build.py

      - name: Run tests
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          cd sw/BUILD/FairShip-latest/FairShip
          ctest --output-on-failure

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: sw/

  run-sim-chain:
    runs-on: self-hosted
    needs: build

    container:
      image: registry.cern.ch/ship/gha-runner:latest
      volumes:
        - /cvmfs/ship.cern.ch:/cvmfs/ship.cern.ch

    env:
      version: 25.11

    strategy:
      matrix:
        vessel_option: [vacuums, helium]
        SND_option: [all]
        muon_shield: [warm_opt, New_HA_Design]
        target: [old, Jun25]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: FairShip
          lfs: true

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: sw/

      - name: Run Sim
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/run_simScript.py --test --debug 2 --${{ matrix.vessel_option }} --SND --SND_design=${{ matrix.SND_option }} --shieldName ${{ matrix.muon_shield }} --target-yaml=$FAIRSHIP/geometry/target_config_${{ matrix.target }}.yaml --EvtGenDecayer

      - name: Overlap check
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/python/experimental/check_overlaps.py --geofile geofile_full.conical.Pythia8-TGeant4.root | tee log
          ! grep "Overlap" log

      - name: Geo information
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/getGeoInformation.py --geometry geofile_full.conical.Pythia8-TGeant4.root --level 2

      - name: Run Reco
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/ShipReco.py -f ship.conical.Pythia8-TGeant4.root -g geofile_full.conical.Pythia8-TGeant4.root --Debug

      - name: Run Ana
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/ShipAna.py -f ship.conical.Pythia8-TGeant4.root -r ship.conical.Pythia8-TGeant4_rec.root -g geofile_full.conical.Pythia8-TGeant4.root

      - name: Run examples
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/examples/analysis_example.py -f ship.conical.Pythia8-TGeant4.root -r ship.conical.Pythia8-TGeant4_rec.root -g geofile_full.conical.Pythia8-TGeant4.root

      - name: Upload .root artifacts
        uses: actions/upload-artifact@v4
        with:
          name: root-files-${{ matrix.vessel_option }}-${{ matrix.SND_option }}-${{ matrix.muon_shield }}-${{ matrix.target }}
          path: |
            *.root

  run-fixed-target:
    runs-on: self-hosted
    needs: build

    container:
      image: registry.cern.ch/ship/gha-runner:latest
      volumes:
        - /cvmfs/ship.cern.ch:/cvmfs/ship.cern.ch

    env:
      version: 25.11

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: FairShip
          lfs: true

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: sw/

      - name: Run Fixed Target Simulation
        run: |
          source /cvmfs/ship.cern.ch/$version/setUp.sh
          eval $(alienv load FairShip/latest)
          python $FAIRSHIP/macro/run_fixedTarget.py -n 10 -e 10.0 -r 1

      - name: Upload .root artifacts
        uses: actions/upload-artifact@v4
        with:
          name: root-files-fixed-target
          path: |
            /__w/FairShip/FairShip/*_run_fixedTarget_1/*.root
